.navigation{
  background-image: url('assets/images/desktop/image-hero.jpg');
  background-size:cover;
}
.brand{
  font-family: Helvetica;
  color:white;
}
.nav-link{
  font-family: Helvetica;
  color: white;
}
.jumbotron{
  padding:70px 30px 70px 30px;

}
.montra {
  color: white;
  border-style: solid;
  border-color: white;
  border-width: thin;
  font-size: 50px;
  font-weight: lighter;
}
.photo{
  max-width: 100%;
  height:auto;
}


.card{
  border: none;
  border-radius: 0;
}
.btn-social-icon{
  color:white;
}
.footer{
  color:white;
  background-color: black;
}
